@use '../mixins/responsive.scss' as*;

.footer {
    background-color: #9458f0;
    background-image: linear-gradient(120deg, #9458f0, #4f41f1);
    padding-top: 6rem;

    &__title {
        font-size: 2.5rem;
        margin: 0 0 2rem 0;

        @include responsive(tablet) {
            font-size: 3rem;
            margin: 0 0 2rem 0;
        }

        @include responsive(desktop) {
            font-size: 4.5rem;
            margin: 0 0 2rem 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include responsive(desktop) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__info {
        width: 400px;
    }

    &__links {
        height: 120px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        top: 0;
    }
}