@use '../mixins/responsive.scss' as*;

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form__input,
.form__textarea,
.form__submit {
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.form__textarea {
    resize: none;
}