@use '../mixins/responsive.scss' as*;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(desktop) {
        width: 400px;
    }

    &__input,
    &__textarea {
        width: 100%;
        padding: .5rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
    }

    &__textarea {
        resize: none;
    }


    &__input::placeholder,
    &__textarea::placeholder,
    &__submit {
        color: white;
    }

    &__submit {
        border: none;
    }
}