@use '../mixins/responsive.scss' as*;

.header {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    margin-bottom: 6rem;

    &-content {
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include responsive(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }

        @include responsive(desktop) {
            height: 80px;
        }
    }
}

.logo {
    width: 300px;
}