@use '../mixins/responsive.scss' as*;

.project-grid {
    display: grid;
    grid-template-columns: 342px;
    gap: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    @include responsive(tablet) {
        width: 700px;
        grid-template-columns: 342px 342px;
        gap: 1.5rem;
    }

    @include responsive(desktop) {
        width: 1124px;
        grid-template-columns: 546px 546px;
        gap: 2rem;
    }
}

.project {
    position: relative;

    @include responsive(desktop) {
        width: 546px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-left: 1rem;
    }
}

.captura {
    width: 342px;
    height: 253px;
    background-color: rgb(128, 128, 255);

    @include responsive(desktop) {
        width: 546px;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.project__title {
    @include responsive(desktop) {
        transition: transform 300ms;
    }

}

.project__links {
    @include responsive(desktop) {
        opacity: 0;
        transition: transform 300ms 150ms ease-in-out, opacity 300ms 150ms;
    }
}

.project:hover>.project__title,
.project:hover>.project__links {
    @include responsive(desktop) {
        transform: translateY(-1rem);
        opacity: 1;
    }
}