@use '../mixins/responsive.scss' as*;

.project__grid {
    display: grid;
    grid-template-columns: 342px;
    gap: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    @include responsive(tablet) {
        width: 700px;
        grid-template-columns: 342px 342px;
        gap: 1.5rem;
    }

    @include responsive(desktop) {
        width: 1124px;
        grid-template-columns: 546px 546px;
        gap: 2rem;
    }
}

.project {
    position: relative;
}

.captura {
    width: 342px;
    height: 253px;
    background-color: rgb(128, 128, 255);

    @include responsive(desktop) {
        width: 546px;
        height: 400px;

    }
}

.project__links {
    @include responsive(desktop) {
        display: none;
    }
}

.project:hover>.project__links {
    @include responsive(desktop) {
        position: absolute;
        top: 0;
        left: 0;
        width: 546px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
    }
}