@use '../mixins/responsive.scss' as*;

.skills {
    background-color: #1a7f78;
    background-image: linear-gradient(120deg, #255b98, #1a7f78);
    padding: 2rem 0;
    margin-bottom: 2rem;

    @include responsive(tablet) {
        padding: 4rem 0;
        margin-bottom: 4rem;
    }

    @include responsive(desktop) {
        padding: 6rem 0;
        margin-bottom: 6rem;
    }
}

.skill-grid {
    @include responsive(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    @include responsive(desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.skill {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;

    @include responsive(tablet) {
        text-align: left;
        padding: 0;
    }
}